<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(page_title)" lang="en">
    <meta charset="UTF-8"/>
    <meta description="viewport" content="width=device-width, initial-scale=1"/>

    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}" />
    <link rel="stylesheet" th:href="@{/css/site.css}" />

    <title th:text="'InstaTeam | ' + ${page_title}">InstaTeam</title>
</head>
<body>
<style>
    .app-error {
        margin-top: 20px;
        border: 1px solid #dad7de;
        padding: 10px;
        background-color: #f7f5fa;
        border-radius: 6px;
    }
</style>
<nav>
    <ul>
        <li class="selected"><a th:href="@{/}">Projects</a></li>
        <li><a th:href="@{/collaborators}">Collaborators</a></li>
        <li><a th:href="@{/roles}">Roles</a></li>
    </ul>
</nav>

<div class="container">
    <h2 th:text="|${#httpServletRequest.getAttribute('javax.servlet.error.status_code')} Error|">500 Error</h2>
    <div th:if="${#httpServletRequest.getAttribute('javax.servlet.error.exception')} != null" class="app-error">
        <code th:text="${#httpServletRequest.getAttribute('javax.servlet.error.exception')}">Error Message</code>
    </div>
</div>

</body>
</html>