<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="head" class="head-fixed">
    <head th:fragment="head(page_title)" lang="en">
        <meta charset="UTF-8"/>
        <meta description="viewport" content="width=device-width, initial-scale=1"/>

        <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{/css/normalize.css}" />
        <link rel="stylesheet" th:href="@{/css/site.css}" />

        <title th:text="'InstaTeam | ' + ${page_title}">InstaTeam</title>
    </head>
</div>

<body>

<div th:fragment="header" class="header-fixed">
    <header>
        <div class="container">
            <div class="site-header">
                <a class="logo" th:href="@{/}">InstaTeam</a>
                <a class="new-project button icon-left" th:href="@{/project_new}"><i class="material-icons">add</i> New Project</a>
            </div>
        </div>
    </header>
</div>


<div th:fragment="nav" class="navbar-fixed">
    <nav>
        <ul>
            <li th:classappend="${#httpServletRequest.servletPath.contains('/project') || #httpServletRequest.servletPath.equals('/') ? 'selected' : ''}"><a th:href="@{/}">Projects</a></li>

            <li th:classappend="${#httpServletRequest.servletPath.contains('/collaborator') ? 'selected' : ''}"><a th:href="@{/collaborators}">Collaborators</a></li>

            <li th:classappend="${#httpServletRequest.servletPath.contains('/role') ? 'selected' : ''}"><a th:href="@{/roles}">Roles</a></li>
        </ul>
    </nav>
</div>

<div th:fragment="flash">

    <div th:if="${flash != null}" class="container">
        <div th:classappend="${#strings.toLowerCase(flash.status)}" th:text="${flash.message}" class="flash"></div>
    </div>

    <div th:if="${flash eq null}" class="container">
        <div text="Everything Ok" class="flash success"></div>
    </div>

</div>

</body>
</html>
