<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout :: head"></div>

<body>

    <div th:replace="layout :: flash"></div>
    <div th:replace="layout :: header"></div>
    <div th:replace="layout :: nav"></div>

        <section>
            <div class="container wrapper">
                <form th:action="@{/project_new}" method="post" th:object="${project}">
                    <div class="project-list single">
                        <label for="name">Name:</label>
                        <input type="text" id="name" required="true" th:placeholder="*{name}" th:value="*{name}" th:field="*{name}"/>
                        <label for="description">Description:</label>
                        <textarea rows="5" id="description" type="text"  required="true" th:placeholder="*{description}" th:value="*{description}" th:field="*{description}"/>

                        <label for="date-started">Date started:</label>
                        <input type="date" th:value="*{startDate}" th:field="*{startDate}" id="date-started"/>

                        <div>
                            <label for="project_status">Project Status:</label>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select th:field="*{status}" id="project_status">
                                    <option th:each="s : ${statuses}" th:value="${s}" th:text="${s}">Active</option>
                                </select>
                            </div>
                        </div>

                        <div class="roles-collaborators">
                            <ul class="checkbox-list">
                                <li th:if="${role.name} ne 'Undefined'" th:each="role : ${roles}">
                                    <input type="checkbox"  th:value="${role}" th:field="${project.rolesNeeded}" class="checkbox"/>
                                    <span th:text="${role.name}" th:value="${role}" class="checkbox">Developer</span>
                                </li>
                            </ul>
                        </div>

                        <div class="actions">
                            <button type="submit" class="button">Save</button>
                            <a th:href="@{/}" class="button button-secondary">Cancel</a>
                        </div>

                    </div>
                </form>
            </div>
        </section>
    </body>
</html>
