<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout :: head"></div>

<body>

    <div th:replace="layout :: flash"></div>
    <div th:replace="layout :: header"></div>
    <div th:replace="layout :: nav"></div>

        <section>
            <div class="container wrapper">
                <form th:action="@{'/project_collaborators/' + ${project.id}}" method="post" th:object="${project}">
                    <h2 th:text="${project.name}">Edit Collaborators: Website Project</h2>
                    <ul class="checkbox-list">

                        <li th:each="r, stat : ${project.rolesNeeded}">
                            <a th:href="@{'/role/'+${r.id}}"><span th:text="${r.name}" class="primary">Developer</span></a>

                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select th:field="${project.collaborators[__${stat.index}__].id}">

                                    <div>
                                        <option th:each="c : ${assignments[__${stat.index}__].candidates}" th:value="${c.id}" th:text="${c.name}">Michael Pemulis</option>
                                        <option th:value="${assignments[__${stat.index}__].selected.id}" th:text="${assignments[__${stat.index}__].selected.name}" selected="selected">Michael Pemulis</option>
                                    </div>

                                </select>
                            </div>
                        </li>

                    </ul>
                    <div class="actions">
                        <input type="submit" value="Save" class="button"/>
                        <a th:href="@{'/project_detail/' + ${project.id}}" class="button button-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>
