<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout :: head"></div>

<body>

    <div th:replace="layout :: flash"></div>
    <div th:replace="layout :: header"></div>
    <div th:replace="layout :: nav"></div>

        <section>
            <div class="container wrapper">
                <form th:action="@{'/project_edit/' + ${project.id}}" method="post" th:object="${project}">
                    <div>
                        <label for="project_name"> Project Name:</label>
                        <input type="text" id="project_name" name="project_name" th:field="${project.name}"/>
                    </div>
                    <div>
                        <label for="project_description">Project Description:</label>
                        <textarea rows="4" id="project_description" name="project_description" th:field="${project.description}"></textarea>
                    </div>

                    <label for="date-started">Date started:</label>
                    <input type="date" th:value="*{startDate}" th:field="*{startDate}" id="date-started"/>

                    <div>
                        <label for="project_status">Project Status:</label>
                        <div class="custom-select">
                            <span class="dropdown-arrow"></span>
                            <select th:field="${project.status}" id="project_status">
                                <option th:if="${s} ne ${project.status}" th:each="s : ${statuses}" th:value="${s}" th:text="${s}">Active</option>
                                <option th:if="${s} eq ${project.status}" th:each="s : ${statuses}" th:value="${s}" th:text="${s}" selected="selected">Active</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <label for="project_roles">Project Roles:</label>
                        <ul id="project_roles" class="checkbox-list">
                            <li th:each="role,stat : ${roles}" th:if="${role.name} ne 'Undefined'">
                                <input type="checkbox" th:value="${role}" th:field="${project.rolesNeeded}" class="checkbox"/>
                                <span th:text="${role.name}" class="checkbox">Developer</span>
                                <span th:each="c : ${project.collaborators}" th:if="${c.role} eq ${role}" th:text="${c.name}" class="secondary">Developer</span>
                            </li>
                        </ul>
                    </div>
                    <div class="actions">
                        <button type="submit" class="button">Save</button>
                        <a th:href="@{'/project_detail/' + ${project.id}}" class="button button-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>
