<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout :: head"></div>

<body>

    <div th:replace="layout :: flash"></div>
    <div th:replace="layout :: header"></div>
    <div th:replace="layout :: nav"></div>

        <section>
            <div class="container wrapper">
                <form th:action="@{/roles}"  method="post" th:object="${newRole}">
                    <input type="hidden" th:field="${newRole.id}"/>
                    <h2>Manage Roles</h2>
                    <div>
                        <ul class="checkbox-list">
                            <li th:each="r : ${roles}" th:if="${r.name} ne 'Undefined'"><a th:href="|/role/${r.id}|"><span class="primary" th:text="${r.name}">Developer</span></a></li>
                        </ul>
                    </div>
                    <div class="actions add-new-role">
                        <input type="text" th:field="${newRole.name}" placeholder="New role.."/>
                        <button type="submit" class="button">Add</button>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>

